
/* Basic page style resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom style */
body {
  background-image: url("https://cdn.glitch.global/435182a9-55ac-4fdb-b9f3-188c93838242/morgane-le-breton-rqIr5yFIaGc-unsplash.jpg?v=1649957153631");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 750%;
  padding: 32px;
  background-position-x: right;
  overflow-x: hidden;
}

.content {
  padding: 15px;
  float: left;
}

.garden {
  float: left;
  padding-left: 70px;
  padding-top: 15px;
}

.filter-category {
  margin-bottom: 20px;
}

label {
  padding-left: 5px;
}


.footer {
  padding-bottom: 5px;
  font-family: cirrus;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#topics-radio {
  padding-left: 20px;
}

#submit-button {
  padding: 20px;
}

.form-text-input {
  width: 500px;
  padding: 5px;
}

.data-link {
  color: blue;
  text-decoration: underline;
}

a {
  border: 1px dashed yellow;
  padding: 1em;
  line-height: 2.5;
  background-color: #a5f9ff69;
  border-radius: 25px;
}

body.max-fowler {
    background-color: blue;
    background-image: none;
}


body.michelle-santiago-cortes {
    background-color: green;
    background-image: none;
}

body.melanie-hoff {
    transform: rotate(-15deg);
}

body.melanie-hoff a{
    font-size: 2em;
    color: yellow;
}

body.melanie-hoff .garden {
  padding-left: 332px;
  padding-top: 59px;
  float: none;
  padding-bottom: 200px;
}

body.galen-macdonald {
  background-color: lightblue;
  background-image: none;

}

body.galen-macdonald a{
  color: purple;
  font-size: 2em;
}

body.casualsalad {
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}



body.casualsalad @-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

body.casualsalad @-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

body.casualsalad @keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
