
/* Basic page style resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
 ___  __    ___         __     ___       ___     __   __               __        __
|__  |  \ |  |  | |\ | / _`     |  |__| |__     /  ` /  \  |\/|  |\/| /  \ |\ | /__`
|___ |__/ |  |  | | \| \__>     |  |  | |___    \__, \__/  |  |  |  | \__/ | \| .__/

 */
body {
  background-color: green;
}

.content {
  padding: 15px;
  float: right;
  border: dotted #873769;
  background: rgba(240,240,240, 0.4);
  font-family: Monaco;
  color: #873769;
  transform:rotate(-10deg);
}

.days {
/*   color:#5373a6 ; */
      text-align:right;

}
.words {
/*   color: #ede84e; */
}

.projects {
/*   color: #3c29e6; */
    text-align:right;
}

.names {
/*   color: #e010be; */
}

.garden {
  float: left;
  padding-left: 70px;
  padding-top: 15px;
}

.filter-category {
  margin-bottom: 20px;
}

.rainbow {

   /* Font options */
  font-size:16px;

   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;

  /* Standar Syntax */
  animation: rainbow 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

label {
  padding-left: 5px;
}


.footer {
  border: 5px solid gold;
  font-family: courier;
  font-size: 15px;
  color: magenta;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: rotate(38.5deg);
}



@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}


.title2 {
  transform: rotate(-50deg);
  font-family: cursive;
  display: none;
  position: absolute;


  /* safe space */
  	background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 5vw;
	letter-spacing: -5px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;

}

.footer:hover .title2 {
  display: block;
}

.title {
  border: 5px solid magenta;
  filter: drop-shadow(5px 5px 5px #4444dd);
}

#topics-radio {
  padding-left: 20px;
}

#submit-button {
  padding: 20px;
}

.form-text-input {
  width: 500px;
  padding: 5px;
}

.data-link {
  color: blue;
  text-decoration: underline;
}

a {
  border: 1px dashed yellow;
  padding: 1em;
  line-height: 2.5;
  background-color: #a5f9ff69;
  border-radius: 25px;
}


/*
 ___  __    ___         __          __        __      __             __   __                      ___
|__  |  \ |  |  | |\ | / _`    \ / /  \ |  | |__)    /  ` |     /\  /__` /__`    |\ |  /\   |\/| |__
|___ |__/ |  |  | | \| \__>     |  \__/ \__/ |  \    \__, |___ /~~\ .__/ .__/    | \| /~~\  |  | |___

 */


body.max-fowler {
    background-color: blue;
    background-image: none;
}


body.michelle-santiago-cortes {
    background-color: green;
    background-image: none;
}

body.melanie-hoff {
    transform: rotate(-15deg);
    color: pink;
}

body.melanie-hoff a{
    font-size: 2em;
    color: yellow;
}

body.melanie-hoff .garden {
  padding-left: 332px;
  padding-top: 59px;
  float: none;
  padding-bottom: 200px;
}

body.galen-macdonald {
  background-color: lightblue;
  background-image: none;

}

body.galen-macdonald a{
  color: purple;
  font-size: 2em;
}

body.casualsalad {
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}



body.casualsalad @-webkit-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

body.casualsalad @-moz-keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}

body.casualsalad @keyframes AnimationName {
    0%{background-position:49% 0%}
    50%{background-position:52% 100%}
    100%{background-position:49% 0%}
}
